<!DOCTYPE html>
<html>

<head>
	<title>Movier</title>
</dead>

<style type="text/css">
div.content{
	padding-top: 250px;
    	text-align: center;
}


</style>   
   
   <body>
	  <div class="content">
		
		 <img src="/static/image/logo.png"  alt="Movier" style="width:260px">
		
       <form action = "http://localhost:5000/search" method = "GET">
		 <p><input type = "text" name = "name"  size="70" style="font-size:12pt;height:30px"></p>
         <input type = "submit" value = "Movier Search">
      </form>
      </div>
   </body>
   
</html>
